.scroll-section-outer {
  overflow: hidden;
  margin-top: 100px;
  position: relative;
}

.scroll-section-inner {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  width: calc(100vw * 6); /* Adjust 6 based on the number of scroll-sections */
}

.scroll-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.project-shadow {
  width: 400px;
  height: 400px;
  background: linear-gradient(white, #d10069, #3eb0f7, white);
  filter: blur(100px);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.project-content {
  max-width: 500px;
  margin: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.573);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  transform: rotate(-20deg); /* Keep rotation for style, but adjust alignment */
}

.project-content h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

.project-content p {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
}

.project-content a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #d10069;
  border-radius: 5px;
}

.project img {
  max-width: 500px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}

.project img:hover {
  transform: rotate(0deg);
  z-index: 2;
}

.projects-title {
  font-size: 80px;
  width: 88%;
  font-weight: lighter;
  color: #e9e8e8;
  margin-left: -100px;
  font-family: "Dancing Script", cursive;
  z-index: 1;
}

.title-background {
  width: 800px;
  height: 200px;
  background: linear-gradient( #d10069, #3eb0f7);
  filter: blur(100px);
  position: relative;
  z-index: -1;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .scroll-section-outer {
    margin-top:0;
  }

  .projects-title {
    font-size: 60px;
    margin-right: 100px;

  }

  .project {
    flex-direction: column;
    gap: 10px;
  }

  .project-content {
    max-width: 300px;
    padding: 15px;
    transform: rotate(-20deg);
  }
  .project-content h4{
    font-size: 18px;
  }
  .project-content p{
    font-size: 16px;
  }
  .project-content a{
    font-size: 14px;
  }

  .project img {
    max-width: 300px;
  }
}