.scroll-section-outer{
  overflow: hidden;
  margin-top: 50px;
}
.scroll-section-inner{
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}
.scroll-section{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.projects-title{
  font-size: 80px;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
  font-family: "Dancing Script", cursive;
}
.blue-circle{
  width: 800px;
  height: 300px;
  background: linear-gradient(white,white, #d10069, #3eb0f7,white,white);
  filter: blur(100px);
  position: absolute;
  z-index: -1;
}