.scroll-section-outer{
  overflow: hidden;
  margin-top: 50px;
}
.scroll-section-inner{
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}
.scroll-section{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}